<section class="block_details">
    <section class="left_block">
        <section class="date">2021 - 2022</section>
    </section>
    <section class="right_block">
        <section class="year_school">ING4 - Majeure OCRES</section>
        <section class="details">
            <p> J'ai pu cette année decouvrir le domaine du marketing mais aussi celui du commerce. J'ai aussi
                approfondi mes connaissance dans la programation en ajoutant à ma liste l'html, le css et le JavaScript </p>
        </section>
    </section>
</section>

<section class="block_details">
    <section class="left_block">
        <section class="date">2021 - 2022</section>
    </section>
    <section class="right_block">
        <section class="year_school">ING3</section>
        <section class="details">
            <p> Cette année particulière en raison du Covid 19 j'ai pu suivre la moitié de l'année à l'ECE en distanciel pour 
                finaliser mes connaissance en Mathematique et en Mecanique. J'ai aussi découvert le language de programation Java.
                L'autre moitié de l'année je suis parti 6 mois à Malte en Université en presentiel ce qui m'a permi de decouvrir 
                le CSharp, un language complexe mais innovent. </p>
        </section>
    </section>
</section>

<section class="block_details">
    <section class="left_block">
        <section class="date">2021 - 2022</section>
    </section>
    <section class="right_block">                        
        <section class="year_school">ING2</section>
        <section class="details">
            <p> Cette année me permis de finalliser mes deux années de preparation avant de rentrer officiellement en 
                école d'ingénieur. J'ai pu découvrir le C++. </p>
        </section>                                 
    </section>
</section>

<section class="block_details">
    <section class="left_block">
        <section class="date">2021 - 2022</section>
    </section>
    <section class="right_block">                        
        <section class="year_school">ING1</section>
            <section class="details">
                <p> Cette première année d'ingenieur ma permis de decouvrir l'univers de l'informatique et de l'electronique qui m'a toujours 
                    intrigué. </p>
        </section>                                
    </section>
</section>